<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
</head>
<style>
    body {
      background-color: #1a1b1e;
      color: #ffffff;
      font-family: "Mono", Arial, sans-serif;
      font-weight: 600;
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h1 {
      margin-top: 10%;
      padding-bottom: 20px;
      border-bottom: 1px solid #767676;
    }
  </style>
<body>
    <div class="container">
        <h1>{{ response_text }}</h1>
    </div>
</body>
</html>
